@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/img/joelhiltonheadshot.jpeg" class="img-fluid rounded-circle mt-4" alt="Joel Hilton Headshot" style="height: 400px;" />
</div>


